/* src/CheckoutForm.css */
.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ddd;
    max-width: 400px;
    background-color: white;
  }
  
  .payment-section {
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  .card-element {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  