/* src/components/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-bar ul li {
    margin-right: 1.5rem;
}

.nav-bar ul a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.cart-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.cart-icon {
    margin-right: 0.5rem;
}

.auth-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.auth-icon {
    margin-right: 0.5rem;
}

.auth-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: green;
    color: blue;
    border: 1px solid #ddd;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.auth-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

/* Styles pour les éléments du dropdown au survol */
.auth-item:hover {
    background-color: green; 
    color: black; 
}
