/* src/App.css */
body {
  margin-top: 3.45rem;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8f63f; /* Légère teinte verte pour le fond */
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #228b22; /* Couleur uniforme pour le header */
  color: white;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 8rem 3rem;
  height: 50vh;
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.9); /* Ajustement de la couleur du texte */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Ajout d'une légère ombre pour adoucir le contraste */
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}


.cta-button {
  padding: 1rem 2rem;
  background-color: #ff8c00;
  color: white;
  border: none;
  cursor: pointer;
}

.categories-section, .featured-products-section {
  padding: 2rem;
  background-color: #f9fcf9; /* Très légère teinte verte */
}

.category-card, .product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ajoute une ombre légère */
}

.footer {
  text-align: center;
  padding: 2rem;
  background-color: #228b22; /* Couleur uniforme pour le footer */
  color: rgba(255, 255, 255, 0.8); /* Ajustement de la couleur du texte pour un contraste moins brutal */
}

/* Ajout d'une transition douce entre les sections */
.categories-section, .featured-products-section, .footer {
  position: relative;
}

.categories-section::after, .featured-products-section::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: linear-gradient(to bottom, hsla(150, 40%, 98%, 0.747), #f0f8f0);
}

.red-banner {
  background-color: red;
  color: white;
  text-align: center;
  padding: 0.8rem;
  width: 30%; /* Réduit le padding pour une bande plus fine */
  margin-top: 1rem;
  margin-left: auto; /* Centre la bande horizontalement */
  margin-right: auto; /* Centre la bande horizontalement */ /* Ajuste l'espacement au-dessus */
}

.stop-gaspillage-text {
  font-size: 1.2rem; /* Réduit légèrement la taille de la police */
  font-weight: bold;
}


